<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <!-- <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="../assets/images/icon.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Oculux</a>                                                
        </div> -->
        <div class="card forgot-pass">
            <div class="body">
                <p class="lead mb-3"><strong>Recover Your Password</strong></p>
                <!-- <p>Type email to recover password.</p> -->
                <form class="form-auth-small" action="index.html">
                    <div class="form-group">                                    
                        <input type="password" class="form-control round" id="signup-password" placeholder="Password">
                    </div>
					<div class="form-group">                                    
                        <input type="password" class="form-control round" id="signup-password" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-round btn-primary btn-lg btn-block">Submit</button>
                    <div class="bottom">
                        <span class="helper-text">Know your password? <a routerLink="/login">Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>