<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Tasks</h1>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <ul class="nav nav-tabs2">
                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab"
                                    href="#e_departments">Task Phase</a></li>
                            <li class="nav-item" *ngIf='!taskPhaseAddObj.id'><a class="nav-link" data-toggle="tab"
                                    href="#e_add">Add</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="e_add">
                                <form #tpfrm="ngForm" novalidate>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Client Name:</label>
                                                    <span style="color: red;">*</span>
                                                    <select required class="form-control" placeholder="Clint Name"
                                                        name='clnt' #clnt=ngModel [(ngModel)]="taskPhaseAddObj.clientId"
                                                        (change)="getProjectsByClientId()">
                                                        <option  hidden [value]="" disabled selected>Client Name</option>
                                                        <option *ngFor="let cd of clientDetailsByStatus" value="{{cd.id}}">
                                                            {{cd.name}}</option>
                                                    </select>
                                                    <span class="text-danger" [hidden]="!clnt.errors.required"
                                                        *ngIf="clnt.errors && (clnt.touched || clnt.dirty)">This Field is Required
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Project Name:</label>
                                                    <span style="color: red;">*</span>
                                                    <select required class="form-control" placeholder="Clint Name"
                                                        name='prjct' #prjct=ngModel
                                                        [(ngModel)]="taskPhaseAddObj.projectId">
                                                        <option hidden [value]="" disabled selected>Project Name</option>
                                                        <option *ngFor="let cd of projectDetails" value="{{cd.id}}">
                                                            {{cd.name}}</option>
                                                    </select>
                                                    <span class="text-danger" [hidden]="!prjct.errors.required"
                                                        *ngIf="prjct.errors && (prjct.touched || prjct.dirty)">This Field is Required
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Task Phase:</label>
                                                    <span style="color: red;">*</span>

                                                    <input type="text" name="name"
                                                        class="form-control" placeholder="Task Phase"
                                                        [(ngModel)]="taskPhaseAddObj.taskPhase" #name="ngModel"
                                                        required>
                                                    <span style="font-size: small" class="text-danger"
                                                        [hidden]="!name.errors.required"
                                                        *ngIf="name.errors && (name.touched || name.dirty)">
                                                        This Field is Required</span>
                                                </div>
                                            </div>

                                            <div class="col-12" *ngIf='!taskPhaseAddObj.id'>
                                                <button type="button" class="btn btn-primary" [disabled]="!tpfrm.valid"
                                                    (click)="saveTaskPhase()">ADD</button>
                                            </div>
                                            <div class="col-12" *ngIf='taskPhaseAddObj.id'>
                                                <button type="button" class="btn btn-primary" [disabled]="!tpfrm.valid"
                                                    (click)="UpdateTaskPhase()">Update</button>&nbsp;&nbsp;
                                                <a href="/Taskphase"><i class="fa fa-arrow-left">Back</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane show active" id="e_departments">
                                <div>
                                    <mat-form-field>
                                        <input class="search" placeholder="Search" matInput
                                            (keyup)="applyFilter($event.target.value)">
                                    </mat-form-field>
                                    <button class="excel" mat-raised-button color="primary"
                                        (click)="exportTable()">Export</button>
                                </div>
                                <table id="Example table" mat-table [dataSource]="dataSource" matSort>

                                    <ng-container matColumnDef="clientName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                                        <td *matCellDef="let row">{{row.clientName}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="projectName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
                                        <td *matCellDef="let row">{{row.projectName}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="taskPhase">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Phase</th>
                                        <td *matCellDef="let row">{{row.taskPhase}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="act">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td *matCellDef="let row">
                                            <a data-toggle="tab" href="#e_add" (click)='getTaskPhaseById(row.id)'
                                                class="btn btn-sm btn-default" title="Edit"><i
                                                    class="fa fa-edit"></i></a>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
                                    </tr>
                                    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
                                </table>
                                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25,100]"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
