<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="col-md-6 col-sm-12">
                <h1>Tasks
                </h1>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <ul class="nav nav-tabs2">

                            <li class="nav-item"><a class="nav-link  active show" data-toggle="tab"
                                    href="#e_departments">Add Tasks</a></li>
                            <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#e_add">Assign
                                    Tasks</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane  show active" id="e_departments">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <ul class="nav nav-tabs3">
                                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab"
                                                    href="#t_get">All Tasks</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                    href="#t_add">Add
                                                </a></li>

                                        </ul>
                                        <div class="tab-content ">
                                            <div class="tab-pane" id="t_add">
                                                <form #tafrm="ngForm" novalidate>
                                                    <div class="body">
                                                        <div class="row clearfix">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Client Name:</label>
                                                                    <span style="color: red;">*</span>
                                                                    <select required class="form-control"
                                                                        placeholder="Client Name" name='name'
                                                                        #name=ngModel [(ngModel)]="taskAddObj.clientId"
                                                                        (change)="getProjectsByClientId(taskAddObj.clientId)">
                                                                        <option hidden [value]="" selected >Client Name</option>
                                                                        <option *ngFor="let clnt of clientDetailsByStatus"
                                                                            value="{{clnt.id}}">
                                                                            {{clnt.name}}</option>
                                                                    </select>
                                                                    <span class="text-danger"
                                                                        [hidden]="!name.errors.required"
                                                                        *ngIf="name.errors && (name.touched || name.dirty)">This Field is Required
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Project Name:</label>
                                                                    <span style="color: red;">*</span>
                                                                    <select required class="form-control"
                                                                        placeholder="Project Name" name='prjctname'
                                                                        #prjctname=ngModel
                                                                        (change)="getTaskPhaseByProjectId(taskAddObj.projectId)"
                                                                        [(ngModel)]="taskAddObj.projectId">
                                                                        <option hidden [value]="" selected>Project Name</option>
                                                                        <option *ngFor="let prjct of projectDetails"
                                                                            value="{{prjct.id}}">
                                                                            {{prjct.name}}</option>
                                                                    </select>
                                                                    <span class="text-danger"
                                                                        [hidden]="!prjctname.errors.required"
                                                                        *ngIf="prjctname.errors && (prjctname.touched || prjctname.dirty)">This Field is Required
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Task Phase:</label>
                                                                    <span style="color: red;">*</span>
                                                                    <select  class="form-control"
                                                                        placeholder="Task Phase" name='taskphase'
                                                                        #taskphase=ngModel
                                                                        [(ngModel)]="taskAddObj.taskPhaseId" required>
                                                                        <option hidden [value]="" selected>Task Phase</option>
                                                                        <option *ngFor="let tp of taskPhaseDetails"
                                                                            value="{{tp.id}}">
                                                                            {{tp.taskPhase}}</option>
                                                                    </select>
                                                                    <span class="text-danger"
                                                                        [hidden]="!taskphase.errors.required"
                                                                        *ngIf="taskphase.errors && (taskphase.touched || taskphase.dirty)">This Field is Required
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Task:</label>
                                                                    <span style="color: red;">*</span>
                                                                    <textarea type="text" class="form-control"
                                                                        placeholder="Task"
                                                                        [(ngModel)]="taskAddObj.description"
                                                                        name="description" #description=ngModel
                                                                        required>
                                                                        </textarea>
                                                                    <span class="text-danger"
                                                                        [hidden]="!description.errors.required"
                                                                        *ngIf="description.errors && (description.touched || description.dirty)">This Field is Required
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Task Time(in Hrs):</label>
                                                                    <span style="color: red;">*</span>
                                                                    <input type="text" min="0" maxlength="3"
                                                                        pattern="[0-9]{0,3}"
                                                                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57) "
                                                                        class="form-control" placeholder="Task Time"
                                                                        name="time" #time=ngModel required
                                                                        [(ngModel)]="taskAddObj.taskTime">
                                                                    <span class="text-danger"
                                                                        [hidden]="!time.errors.required"
                                                                        *ngIf="time.errors && (time.touched || time.dirty)">Please
                                                                        enter
                                                                        TaskTime
                                                                    </span>
                                                                    <span class="text-danger"
                                                                        [hidden]="!time.errors.pattern"
                                                                        *ngIf="time.errors && (time.touched || time.dirty)">Please
                                                                        enter
                                                                        valid TaskTime
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="col-12" *ngIf='!taskAddObj.id'>
                                                                <button type="submit" class="btn btn-primary"
                                                                    [disabled]="!tafrm.valid"
                                                                    (click)="saveTask()">ADD</button>
                                                            </div>
                                                            <div class="col-12" *ngIf='taskAddObj.id'>
                                                                <button type="button" class="btn btn-primary"
                                                                    [disabled]="!tafrm.valid"
                                                                    (click)="UpdateTask()">Update</button>&nbsp;&nbsp;

                                                                <a href="/task"><i class="fa fa-arrow-left">Back</i></a>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="tab-pane show active" id="t_get">
                                                <div>
                                                    <mat-form-field>
                                                        <input class="search" placeholder="Search" matInput
                                                            (keyup)="applyFilter($event.target.value)">
                                                    </mat-form-field>
                                                    <button class="excel" mat-raised-button color="primary"
                                                        (click)="exportTable()">Export</button>
                                                </div>
                                                <table class="responsive-table" id="Example table" mat-table
                                                    [dataSource]="dataSource" matSort>

                                                    <ng-container matColumnDef="clientName">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client
                                                            Name</th>
                                                        <td *matCellDef="let row">{{row.clientName}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="projectName">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project
                                                            Name</th>
                                                        <td *matCellDef="let row">{{row.projectName}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="taskphase">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Phase
                                                        </th>
                                                        <td *matCellDef="let row">{{row.taskphase}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="description">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
                                                        <td  *matCellDef="let row">{{row.description}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="hours">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Time
                                                        </th>
                                                        <td *matCellDef="let row">{{row.hours}}</td>
                                                    </ng-container>


                                                    <ng-container matColumnDef="act">
                                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                                        <td *matCellDef="let row">
                                                            <a data-toggle="tab" href="#t_add"
                                                                (click)='getAllTasksById(row.id)'
                                                                class="btn btn-sm btn-default" title="Edit"><i
                                                                    class="fa fa-edit"></i></a>
                                                                    &nbsp;
                                                                    <mat-slide-toggle (change)="onChange($event,row.id)" class="example-margin"
                                                                     checked="{{row.status}}">
                                                                  </mat-slide-toggle>
                                                                  <span *ngIf="row.status" style="color:black">Active</span>
                                                                  <span *ngIf="!row.status" style="color:black">In Active</span>
                                                                </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
                                                    </tr>
                                                    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
                                                </table>
                                                <mat-paginator [length]="100" #paginator [pageSize]="10"
                                                    [pageSizeOptions]="[5, 10, 25,100]" showFirstLastButtons>
                                                </mat-paginator>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="e_add">
                                <ul class="nav nav-tabs3">
                                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab"
                                            href="#tim">Assigned tasks</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#tim_emp">Add task
                                            to employee
                                        </a></li>
                                </ul>
                                <div class="tab-content ">
                                    <div class="tab-pane" id="tim_emp">
                                        <form #tfrm="ngForm" novalidate>
                                            <div class="body">
                                                <div class="row clearfix">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Client Name:</label>
                                                            <span style="color: red;">*</span>
                                                            <select required class="form-control"
                                                                placeholder="Client Name" name='clnt' #clnt=ngModel
                                                                [(ngModel)]="taskAssignObj.clientId"
                                                                (change)="getProjectsByClientId(taskAssignObj.clientId)">
                                                                <option hidden [value]="" selected>Client Name</option>
                                                                <option *ngFor="let clnt of clientDetailsByStatus"
                                                                    value="{{clnt.id}}">
                                                                    {{clnt.name}}</option>
                                                            </select>
                                                            <span class="text-danger" [hidden]="!clnt.errors.required"
                                                                *ngIf="clnt.errors && (clnt.touched || clnt.dirty)">This Field is Required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Project Name:</label>
                                                            <span style="color: red;">*</span>
                                                            <select required class="form-control"
                                                                placeholder="Project Name" name='prjct' #prjct=ngModel
                                                                (change)="getTaskPhaseByProjectId(taskAssignObj.projectId)"
                                                                [(ngModel)]="taskAssignObj.projectId">
                                                                <option hidden [value]="" selected>Select Project </option>
                                                                <option *ngFor="let prjct of projectDetails"
                                                                    value="{{prjct.id}}">
                                                                    {{prjct.name}}</option>
                                                            </select>
                                                            <span class="text-danger" [hidden]="!prjct.errors.required"
                                                                *ngIf="prjct.errors && (prjct.touched || prjct.dirty)">This Field is Required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Task Phase:</label>
                                                            <span style="color: red;">*</span>
                                                            <select required class="form-control"
                                                                placeholder="Task Phase" name='taskphase'
                                                                #taskphase=ngModel
                                                                (change)="getTasksByTaskPhaseId(taskAssignObj.taskPhase)"
                                                                [(ngModel)]="taskAssignObj.taskPhase">
                                                                <option hidden [value]="" selected>Task Phase</option>
                                                                <option *ngFor="let tp of taskPhaseDetails"
                                                                    value="{{tp.id}}">
                                                                    {{tp.taskPhase}}</option>
                                                            </select>
                                                            <span class="text-danger"
                                                                [hidden]="!taskphase.errors.required"
                                                                *ngIf="taskphase.errors && (taskphase.touched || taskphase.dirty)">This Field is Required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Task:</label>
                                                            <span style="color: red;">*</span>
                                                            <select required class="form-control" placeholder="task"
                                                                name='tid' #tid=ngModel
                                                                [(ngModel)]="taskAssignObj.taskId">
                                                                <option hidden [value]="" selected>Task</option>
                                                                <option *ngFor="let tpd of taskAddedDetails"
                                                                    value="{{tpd.id}}">
                                                                    {{tpd.description}}</option>
                                                            </select>
                                                            <span class="text-danger" [hidden]="!tid.errors.required"
                                                                *ngIf="tid.errors && (tid.touched || tid.dirty)">This Field is Required
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Description:</label>
                                                            <span style="color: red;">*</span>

                                                            <textarea type="text" class="form-control"
                                                                placeholder="Task Description"
                                                                [(ngModel)]="taskAssignObj.description"
                                                                name="description" #description=ngModel required>
                                                                </textarea>
                                                            <span class="text-danger"
                                                                [hidden]="!description.errors.required"
                                                                *ngIf="description.errors && (description.touched || description.dirty)">This Field is Required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Assigned To:</label>
                                                            <span style="color: red;">*</span>

                                                            <select required class="form-control"
                                                                placeholder="Assigned To" name='assignedTo'
                                                                #assignedTo=ngModel
                                                                [(ngModel)]="taskAssignObj.assignedTo">
                                                                <option hidden [value]="" selected>Assigned To</option>
                                                                <option *ngFor="let td of teamDetails"
                                                                    value="{{td.id}}">
                                                                    {{td.empName}}
                                                                </option>
                                                            </select>
                                                            <span class="text-danger"
                                                                [hidden]="!assignedTo.errors.required"
                                                                *ngIf="assignedTo.errors && (assignedTo.touched || assignedTo.dirty)">Please
                                                                Select Employee Name
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Task Start Date:</label>
                                                            <span style="color: red;">*</span>

                                                            <input type="text" autocomplete="off" #fromDate=ngModel
                                                                [(ngModel)]="taskAssignObj.startDate" bsDatepicker
                                                                [bsConfig]="{containerClass: 'theme-dark-blue' }"
                                                                class="form-control" required name="fromDate"
                                                                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                                                                onkeydown="return(event.ctrlKey==17 && event.keyCode==86)">
                                                            <span class="text-danger"
                                                                [hidden]="!fromDate.errors.required"
                                                                *ngIf="fromDate.errors && (fromDate.touched || fromDate.dirty)">Please
                                                                Select Start Date
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Task End Date:</label>
                                                            <span style="color: red;">*</span>

                                                            <input type="text" autocomplete="off" #ToDate=ngModel
                                                                [(ngModel)]="taskAssignObj.endDate" bsDatepicker
                                                                [bsConfig]="{containerClass: 'theme-dark-blue' }"
                                                                class="form-control" required name="ToDate"
                                                                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                                                                onkeydown="return(event.ctrlKey==17 && event.keyCode==86)">
                                                            <span class="text-danger" [hidden]="!ToDate.errors.required"
                                                                *ngIf="ToDate.errors && (ToDate.touched || ToDate.dirty)">Please
                                                                Select End Date
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Task Time(in Hrs):</label>
                                                            <span style="color: red;">*</span>
                                                            <input type="text" min="0" maxlength="3"
                                                                pattern="[0-9]{0,3}"
                                                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) "
                                                                class="form-control" placeholder="Task Time" name="time"
                                                                #time=ngModel required
                                                                [(ngModel)]="taskAssignObj.taskTime">
                                                            <span class="text-danger" [hidden]="!time.errors.required"
                                                                *ngIf="time.errors && (time.touched || time.dirty)">This Field is Required
                                                            </span>
                                                            <span class="text-danger" [hidden]="!time.errors.pattern"
                                                                *ngIf="time.errors && (time.touched || time.dirty)">Please
                                                                enter
                                                                valid TaskTime
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Task Category:</label>
                                                            <span style="color: red;">*</span>
                                                            <select required class="form-control"
                                                                placeholder="Task Category" name='category'
                                                                #category=ngModel [(ngModel)]="taskAssignObj.category">
                                                                <option>Project Task</option>
                                                                <option>Miscellaneous</option>
                                                            </select>
                                                            <span class="text-danger"
                                                                [hidden]="!category.errors.required"
                                                                *ngIf="category.errors && (category.touched || category.dirty)">Please
                                                                select Category
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12" *ngIf='!taskAssignObj.id'>
                                                        <button type="submit" class="btn btn-primary"
                                                            [disabled]="!tfrm.valid"
                                                            (click)="saveTaskAssign()">ADD</button>
                                                    </div>
                                                    <div class="col-12" *ngIf='taskAssignObj.id'>
                                                        <button type="button" class="btn btn-primary"
                                                            [disabled]="!tfrm.valid"
                                                            (click)="UpdateTaskAssign()">Update</button>&nbsp;&nbsp;

                                                        <a href="/task"><i class="fa fa-arrow-left">Back</i></a>

                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="tab-pane show active" id="tim">
                                        <div>
                                            <mat-form-field>
                                                <input class="search" placeholder="Search" matInput
                                                    (keyup)="applyFilter($event.target.value)">
                                            </mat-form-field>
                                            <button class="excel" mat-raised-button color="primary"
                                                (click)="exportTable()">Export</button>
                                        </div>
                                        <table id="Example table2" mat-table [dataSource]="dataSourceass" matSort>

                                            <ng-container matColumnDef="clientnm">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                                                <td *matCellDef="let row">{{row.clientname}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="prjctname">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
                                                <td *matCellDef="let row">{{row.projectname}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="tp">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Phase</th>
                                                <td *matCellDef="let row">{{row.taskphase}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="tk">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
                                                <td *matCellDef="let row">{{row.task}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="td">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Description
                                                </th>
                                                <td *matCellDef="let row">{{row.description}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="at">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
                                                <td *matCellDef="let row">{{row.assignedto}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="sd">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Start Date
                                                </th>
                                                <td *matCellDef="let row">{{row.startDate|date}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="ed">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task End Date</th>
                                                <td *matCellDef="let row">{{row.endDate|date}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="tt">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time(in Hrs)</th>
                                                <td *matCellDef="let row">{{row.time}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="cy">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                                                <td *matCellDef="let row">{{row.category}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="act">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                                                <td *matCellDef="let row">
                                                    <a data-toggle="tab" href="#tim_emp"
                                                        (click)='getAllAssignedTasksById(row.id)'
                                                        class="btn btn-sm btn-default" title="Edit"><i
                                                            class="fa fa-edit"></i></a>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef='displayedColumnsass'>
                                            </tr>
                                            <tr mat-row *matRowDef="let row;columns:displayedColumnsass"></tr>
                                        </table>
                                        <mat-paginator #paginator1 [length]="100" [pageSize]="10"
                                            [pageSizeOptions]="[5, 10, 25,100]" showFirstLastButtons>
                                        </mat-paginator>
                                    </div>
                                </div>

                            </div>

                            <!-- <div class="tab-pane " id="tim_emp">

                                <div class="table-responsive">
                                    <a href="/Reports"><i class="fa fa-arrow-left"></i>
                                    </a>

                                    <table
                                        class="table table-hover js-basic-example dataTable table-custom spacing5 mb-0">
                                        <thead>
                                            <tr>
                                                <th>Employee Name</th>
                                                <th>Task Description</th>
                                                <th>Worked Date</th>
                                                <th>Total Hours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let rd of ReportsByProjectsForDetails">
                                                <td>{{rd.employeename}}</td>
                                                <td>{{rd.description}}</td>
                                                <td>{{rd.workedDate|date}}</td>
                                                <td>{{rd.hours}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
