<!-- <div class="page-loader-wrapper" *ngIf="showDiv">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div> -->
<div id="main-content">
    <div class="container-fluid custom-welcome" style="padding-right: 180px;">
        <div class="card" style="margin-left: -8px;">
            <div class="body ribbon">
                <!-- <div class="login-img">
                    <img class="img-fluid" src="../assets/welcome.png" />   
                </div> -->
                <div class="clock">
                    <div class="analog-clock">
                      <div class="hour hand" #hourHand></div>
                      <div class="minute hand" #minuteHand></div>
                      <div class="second hand" #secondHand></div>
                      <div class="center-circle"></div>
                    </div>
                    <!-- <div class="digital-clock">{{hour}}:{{minute}}:{{second}}</div> -->
                    
                  </div>
                <div class="block-header">
                    <div class="row clearfix">
                        <div style="text-align: end">
                            <h1 class="custom-welcome-header"
                                style="font-size: -webkit-xxx-large;margin-left: 331px;color: #dcb348;">Welcome</h1>
                        </div>
                    </div>
                </div>
                <div style='text-align: center;'>
                    <h4 style="color: #3bdb93;font-style: oblique;">{{user[0].empName}}</h4>
                    <br>
                    <h6>Welcome To BOT To Save Your Work Flow</h6>
                    <br>
                    <div>
                        <div class="header-button wow fadeInUp" data-wow-delay="0.3s">
                            <a href="/dashboard" class="btn btn-common">Get Started
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



