<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="card forgot-pass">
            <div class="body">
                <p class="lead mb-3"><strong>Oops</strong>,<br> Change Password?</p>

                <div> {{notify}}</div>
                <form class="form-auth-small" action="index.html" #chngfrm="ngForm" novalidate>
                    <div class="form-group">
                        <input type="password" class="form-control round" id="signup-password" name="currentPassword"
                            [(ngModel)]="changePasswordAddObj.currentPassword" placeholder="Current Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control round" id="signup-password" name="newPassword"
                            [(ngModel)]="changePasswordAddObj.newPassword" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control round" id="signup-password" name="confirmPassword"
                            [(ngModel)]="changePasswordAddObj.confirmPassword" placeholder=" Confirm Password">
                    </div>
                    <button (click)='changepassword()' type="submit"
                        class="btn btn-round btn-primary btn-lg btn-block">RESET PASSWORD</button>
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>