<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="card forgot-pass">
            <div class="body">
                <p class="lead mb-3"><strong>{{user[0].empName}}</strong></p>
                <!-- <p class="lead mb-3">Designation:{{user[0].Designation}}</p> -->
                <p class="lead mb-3">Email:{{user[0].empEmail}}</p>
                <p class="lead mb-3">Contact Number:{{user[0].contactNumber}}</p> 
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>