<!-- <div class="page-loader-wrapper" *ngIf="showDiv">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div> -->


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div style="text-align: end;margin-left: 303px;">
                    <h1 style="text-align: center;">Are You sure want to logout?</h1>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-2" style="margin-left: 330px;">
            <div class="card" style="background-color:hotpink">
                <div class="body ribbon">
                    <div class="ribbon-box hotpink">8</div>
                    <a href="/" class="my_sort_cut text-muted">
                        <i class="fa fa-sign-out" style="color: hotpink;"></i>
                        <span>click to logout</span>
                    </a>
                </div>
            </div>
        </div>



    </div>
</div>